
.article_code {
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    border-radius: 100px;
}

.article_code:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.article .image:hover {
    opacity: 0.9;
}

.article .special:hover {
    color: rgb(72, 250, 63);
}
.inner_code {
    background-color: #339f2f;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-family: monospace;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}
.wrapper_code {
    background-color: #172449;
    width: 100%;
    height: 100%;
    padding: 10%;
    border-radius: 10px;
    margin-bottom: 5px;
}

.wrapper_code .inner_c {
    background-color: #172449;
    padding: 5px; /* Adjust the value as needed */
    border-radius: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.wrapper_code .features {
    margin-top: 10px; /* Adjust the value as needed */
}

.wrapper_code .article_code {
    margin-bottom: 2px; /* Adjust the value as needed */
    
}

.wrapper_code .article_code:last-child {
    margin-bottom: 0;
}
/*
.wrapper_code {
    background-color: #172449;
    width: 100%;
    height: 100%;
    padding: 10%;
    border-radius: 10px;
    margin-bottom: 5px;
}
    .wrapper_code.inner_c {
        background-color: #172449;
        width: 100%;
        height: auto;
        padding: 18%;
        border-radius: 10px;
        margin-bottom: 5px;
    }*/

.wrapper_code:hover {
    background-color: #172449;
    padding: 10%;
    border-radius: 10px;
    margin-bottom: 5px;
}

/*
.wrapper_code:hover {
    background-color: #172449;
    padding: 18%;
    border-radius: 10px;
    margin-bottom: 5px;
}


/*
.innner_code:hover {
    background-color: hwb(233 5% 77%);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}




/*.wrapper {
    background-color: #544cc0;
    padding: 1px;
    border-radius: 1px;
    margin-bottom: 1px;
}
/*.article:hover {
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;

}*/

/*.article:hover {
    transform: scale(1.1);
}*/

/*.article:hover {
    transform: scale(1.05);
    transform: translateY(-10px);
    z-index: 1;
    background-color: #2b3a7c;
}*/